@import 'mixins'

.copied-notification
  position: absolute
  font-weight: 500
  color: #fff
  //background-color: "rgba(%s, 1)" % var(--bg-color)
  background-color: #147b14
  border-radius: 4px
  padding: 6px 12px 4px 12px
  transform: translateY(-50%)
  top: 50%
  left: 0
  opacity: 1
  pointer-events: none
  display: none
  z-index: 20
  &.visible
    display: block
    trans('opacity, transform')
    transition-duration: 1.5s
  &.active
    opacity: 0
    transform: translateY(-10px)
