@import 'mixins'

.status-block
  margin-bottom: 50px
  .title
    font-size: 19px
    margin-bottom: 15px

.nodes-counter
  height: 19px
  margin-bottom: 40px

  pointer-events: none
  user-select: none

  // -- Flex Position --
  display: flex
  justify-content: space-between

  // -- Classic Position --
  // overflow: hidden
  // white-space: nowrap
  // clearfix()
  // .tick
  //   float: left
  //   vertical-align: top
  //   margin-left: 11px
  //   &:first-child
  //     margin-left: 0

  .tick
    width: 2px
    height: 100%
    background-color: #1ba93e
    opacity: 0
    trans('opacity')
    &.active
      opacity: 1


.preloader
  display: inline-block
  position: relative
  width: 30px
  height: @width

  div
    position: absolute
    width: @width
    height: @width
    border: "2px solid rgba(%s, 1)" % var(--text-color)
    border-radius: 50%
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    border-color: "rgba(%s, 1) transparent transparent transparent" % var(--text-color)

    &:nth-child(1)
      animation-delay: -0.45s

    &:nth-child(2)
      animation-delay: -0.3s

    &:nth-child(3)
      animation-delay: -0.15s

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
