.contract-title
  position: relative
  padding-left: 50px
  margin-bottom: 50px

  .logo
    position: absolute
    height: 34px
    top: 0
    bottom: 0
    margin: auto
    left: 0

  .title
    font-size: 24px
  .desc
    font-size: 16px
